@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
    --almostYellow: #d1ac00;
    --almostDarkBlue: #004643;
    --grey: #484848;
    --almostWhite: #fbf6da;
    --almostBlack: #0c1618;
    --white: #fff;
    --black: #000;
    --zred: #949494;
    --padding-of-40px: 40px;
    --margin-of-40px: 40px;
    --gap-of-40px: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

/* lazy section css */
.lazy-section {
    transform: translateY(80px);
    opacity: 0;
}

.lazy-section.visible {
    opacity: 1;
    transform: translateY(0px);
    transition-property: opacity, transform;
    transition-duration: 1s, 2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* SECTION 1 */
/* ########## NAV BAR STYLING ########## */
.navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.link_container {
    display: flex;
    gap: 150px;
    padding-right: 100px;
    display: flex;
}

.navbar .navbar_ul {
    display: flex;
    gap: 70px;
}

.navbar .logo {
    padding: 0px 100px;
}

.navbar_ul li,
.navbar_btn li {
    list-style: none;
}

.navbar_ul li a,
.navbar_btn li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
}

.navbar_ul li:nth-child(3) a {
    color: var(--almostYellow);
    border-bottom: 3px solid var(--almostYellow);
    padding-bottom: 8px;
}

.navbar_ul .linked_list:hover>a {
    color: var(--almostYellow);
    border-bottom: 3px solid var(--almostYellow);
    transition: color 0.5s, border-bottom 0.5s, padding-bottom 0.5s;
    padding-bottom: 8px;
}

.navbar_btn {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
}

.navbar_btn .signin_btn,
.navbar_btn .register_btn {
    padding: 8px 15px;
    border: 1px solid var(--almostDarkBlue);
    border-radius: 8px;
    transition: ease-in .3s;
    cursor: pointer;
    outline-width: 0;
    font-size: 1.19em;
}

.navbar_btn .signin_btn {
    background-color: transparent;
    border: 1px solid var(--almostDarkBlue);
    color: var(--almostDarkBlue);
}

.navbar_btn .signin_btn:hover {
    background-color: var(--almostYellow);
    border: 1px solid var(--almostYellow);
    color: var(--white);
}

.navbar_btn .register_btn {
    background-color: var(--almostDarkBlue);
    color: var(--white);
}

.navbar_btn .register_btn:hover {
    background-color: transparent;
    border: 1px solid var(--almostYellow);
    color: var(--almostDarkBlue);
}


.navbar .hamburger {
    display: none;
    color: var(--almostDarkBlue);
    cursor: pointer;
}

/* ########## ACTIVATING HAMBURGER MENU ########## */
.link_container.active {
    display: flex;
    background-color: var(--almostBlack);
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding: 0 0 40px 40px;
    top: 105px;
    right: 0;
    gap: 40px;
    z-index: 99;
}

.navbar.display {
    background-color: var(--almostBlack);
    border-bottom: 1px solid var(--almostWhite);
}


/* SECTION 2 */
.support {
    width: 100%;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    /* gap: 10em; */
}

.support .text-container {
    padding-right: 250px;
}

.support .text-container h1 {
    padding-bottom: 20px;
}

.support .text-container p {
    color: var(--grey);
    padding-bottom: 20px;
}

.support .text-container a {
    text-decoration: none;
    color: var(--grey);
}

.text-container a i {
    padding-right: 10px;
}

.support .image-container img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

/* SECTION 3 */
form {
    margin-top: 40px;
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    flex-direction: column;
    padding: 0 120px;
}

form h1 {
    font-size: 1.2em;
}

form p {
    font-size: .8em;
}

form .input-parent-container {
    display: flex;
    margin: 20px 0;
    gap: 40px;
    justify-content: center;
}

form .input-parent-container .divider {
    width: 50%;
}

form .input-container {
    align-items: center;
    width: 100%;
    border: 1px solid var(--almostDarkBlue);
    border-radius: 8px;
    display: flex;
    padding: 0 10px;
    margin: 20px 0;
}

form .input-container i {
    display: inline-block;
    padding-right: 10px;
}

form .input-container input {
    width: 100%;
    padding: 10px 0;
    outline-width: 0;
    border: 0;
    background-color: transparent;
}

form .message {
    outline-width: 0;
    border: 1px solid var(--almostDarkBlue);
    border-radius: 8px;
    resize: none;
}

form .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

form .btn-container button {
    padding: 10px;
    width: 30%;
    outline-width: none;
    border-radius: 8px;
    border: 1px solid var(--almostDarkBlue);
    background-color: var(--almostDarkBlue);
    color: var(--white);
    cursor: pointer;
    transition: ease-in .3s;
}

form .btn-container button:hover {
    background-color: transparent;
    color: var(--almostDarkBlue);
}

@media screen and (max-width: 1264px) {
    .support .text-container {
        padding-right: 20px;
    }
}

@media screen and (max-width: 1153px) {

    /* ########## MEDIA QUERY FOR NAV BAR 1153px [SECTION 1] ########## */
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .link_container {
        width: 100%;
        justify-content: center;
    }

    .navbar_ul {
        margin-left: 100px;
    }

    .navbar_btn {
        padding: 0;
    }

    /* ########## END OF MEDIA QUERY FOR NAV BAR 1153px ########## */
}

@media screen and (max-width: 961px) {

    /* ########## MEDIA QUERY  FOR MOBILE VIEW NAVBAR 961px  1153px [SECTION 1] ########## */
    .link_container {
        display: none;
    }

    .link_container .navbar_ul {
        flex-direction: column;
        margin: 0;
        gap: 40px;
    }

    .navbar_ul li a {
        color: var(--white);
    }

    .navbar_btn .signin_btn a,
    .navbar_btn .register_btn a {
        padding: 8px 25px;
        border: 2px solid var(--almostDarkBlue);
        border-radius: 8px;
        transition: ease-in .3s;
    }

    .navbar_btn .signin_btn a:hover {
        background-color: var(--almostDarkBlue);
        color: var(--white);
    }

    .navbar_btn .register_btn a {
        background-color: var(--almostDarkBlue);
        color: var(--white);
    }

    .navbar_btn .signin_btn a {
        border: 2px solid var(--white);
        color: var(--white);
    }

    .navbar_btn .register_btn a:hover {
        border: 2px solid var(--white);
        color: var(--white)
    }

    .navbar .link_container .navbar_btn {
        flex-direction: column;
    }

    .navbar .hamburger {
        display: block;
        color: var(--almostDarkBlue);
        padding-right: 30px;
        font-size: 30px;
    }

    .hamburger .xmark {
        display: none;
    }

    .navbar {
        padding: 20px 0;
    }

    .navbar .logo {
        width: 0;
        margin: 0;
        display: block;
        padding-left: 20px;
    }

    .support {
        flex-direction: column;
        gap: 5em;
        padding-left: 25px;
        padding-right: 25px;
    }

    form {
        padding: 0 25px;
    }

    /* ########## END OF MEDIA QUERY  FOR MOBILE VIEW NAVBAR 961px  1153px ########## */
}