@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --almostYellow: #d1ac00;
  --almostDarkBlue: #004643;
  --grey: #484848;
  --almostWhite: #fbf6da;
  --almostBlack: #0c1618;
  --white: #fff;
  --black: #000;
  --zred: #949494;
  --padding-of-40px: 40px;
  --margin-of-40px: 40px;
  --gap-of-40px: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

/* SECTION 1 */
/* ########## TOP HERO SECTION BACKGROUND IMAGE ########## */
.top_dashboard {
  padding: 0 0 20px 0;
  background-color: rgba(0, 0, 0, 0.512);
  width: 100%;
  height: auto;
  background-image: url(/assets/images/TopDashboard.jpg);
  background-blend-mode: overlay;
}

.lazy-section {
  transform: translateY(80px);
  opacity: 0;
}

.lazy-section.visible {
  opacity: 1;
  transform: translateY(0px);
  transition-property: opacity, transform;
  transition-duration: 1s, 2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ########## NAV BAR STYLING ########## */
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.link_container {
  display: flex;
  gap: 150px;
  padding-right: 100px;
  display: flex;
}

.navbar .navbar_ul {
  display: flex;
  gap: 70px;
}

.navbar .logo {
  padding: 0px 100px;
}

.navbar_ul li,
.navbar_btn li {
  list-style: none;
}

.navbar_ul li a,
.navbar_btn li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.navbar_ul li:nth-child(1) a {
  color: var(--almostYellow);
  border-bottom: 3px solid var(--almostYellow);
  padding-bottom: 8px;
}

.navbar_ul .linked_list:hover>a {
  color: var(--almostYellow);
  border-bottom: 3px solid var(--almostYellow);
  transition: color 0.5s, border-bottom 0.5s, padding-bottom 0.5s;
  padding-bottom: 8px;
}

.navbar_btn {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.navbar_btn .signin_btn,
.navbar_btn .register_btn {
  padding: 8px 15px;
  border: 1px solid var(--almostDarkBlue);
  border-radius: 8px;
  transition: ease-in .3s;
  cursor: pointer;
  outline-width: 0;
  font-size: 1.19em;
}

.navbar_btn .signin_btn {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.navbar_btn .signin_btn:hover {
  background-color: var(--almostYellow);
  border: 1px solid var(--almostYellow);
}

.navbar_btn .register_btn {
  background-color: var(--almostDarkBlue);
  color: var(--white);
}

.navbar_btn .register_btn:hover {
  background-color: transparent;
  border: 1px solid var(--almostYellow);
}

.navbar .hamburger {
  display: none;
  color: var(--white);
  cursor: pointer;
}

/* ########## ACTIVATING HAMBURGER MENU ########## */
.link_container.active {
  display: flex;
  background-color: var(--almostBlack);
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  padding: 0 0 40px 40px;
  top: 105px;
  right: 0;
  gap: 40px;
  /* z-index: 99; */
}

.navbar.display {
  background-color: var(--almostBlack);
  border-bottom: 1px solid var(--almostWhite);
}

/* ########## HERO WRITEUP CONTAINER STYLE SECTION ########## */
.hero-writeup-container {
  width: 100%;
  padding: 150px 0 0 100px;
  margin-bottom: 100px;
}

.hero-writeup-container .hero-writeup h1 {
  font-size: 3.5em;
  line-height: 1;
  font-weight: 600;
  color: var(--almostWhite);
}

.hero-writeup-container .writing-effect {
  animation: blink 0.5s;
}

.hero-writeup-container .writing-effetz {
  animation: blink 0.5s;
}

/* The keyframes for the blinking animation */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-writeup-container .hero-writeup article {
  font-size: 1.2em;
  font-weight: 400;
  padding: 10px 0;
  color: var(--white);
}

.hero-sub-section {
  width: calc(100% - 100px);
  background-color: var(--almostDarkBlue);
  padding: var(--padding-of-40px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-of-40px);
  margin: var(--margin-of-40px) 0 0 0;
  border-radius: 10px;
  opacity: 0.7;
  flex-wrap: wrap;
}

.hero-sub-section .hero-sub-section-btn {
  width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--white);
}

.hero-sub-section-btn .fa-regular {
  font-size: 1em;
}

.hero-sub-section input {
  padding: 10px;
  width: 146px;
  outline-width: 0;
  border-radius: 8px;
  border-width: 0;
}

.hero-sub-section .top {
  padding-bottom: 8px;
}

.hero-sub-section .down button {
  padding: 10px;
  width: 250px;
  outline-width: 0;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}

.hero-sub-section .down .searchbar {
  background-color: var(--almostYellow);
  color: var(--white);
  font-weight: bold;
}

.hero-sub-section .down button .fa-solid,
.hero-sub-section .down button .fa-regular {
  padding-left: 20px;
  cursor: pointer;
}

/* END OF SECTION 1 */

/* SECTION 2 */
/* ########## EXPLORE SECTION STYLING ########## */
.explore {
  margin: 40px auto;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.explore-sub-section h1 {
  font-weight: 600;
  padding: 0 0 20px 0;
}

.explore-sub-section .child-images {
  display: flex;
  margin-top: 10px;
  align-items: center;
  gap: 10px;
}

.explore-sub-section .image-container img {
  max-width: 100%;
  height: auto;
  transition: transform .2s;
}

.image-container .explore-images {
  overflow: hidden;
}

.image-container .explore-images:hover img {
  transform: scale(1.1);
}

.image-container .big-img {
  object-fit: cover;
  object-position: center;
  -o-object-fit: cover;
  -o-object-position: center;
}

.explore-sub-section .ratings .fa-sharp {
  color: var(--almostYellow);
  padding: 0 0 20px 0;
  line-height: 0;
  word-wrap: break-word;
}

.explore-sub-section .address-bar {
  height: 0px;
  border: 1px solid rgb(255, 98, 0);
  background-color: rgb(255, 98, 0);
  /* width: 260px; */
  width: 50%;
  margin: 20px 0;
}

.explore-sub-section article,
.explore-sub-section p {
  font-size: 1.2em;
}

.explore-sub-section button {
  outline-width: 0;
  border: 1px solid var(--almostDarkBlue);
  border-radius: 8px;
  color: var(--white);
  background-color: var(--almostDarkBlue);
  padding: 10px;
  font-size: 1em;
  width: 50%;
  margin-top: 20px;
  cursor: pointer;
}

.explore-sub-section button:hover {
  background-color: transparent;
  color: var(--black);
}

/* END OF SECTION 2 */

/* SECTION 3 */
/* ########## POPULAR LOCATION STYLING ########## */
.popular-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* .popular-location .popular-location-heading {
  width: 100%; 
   padding: 40px 0 40px 140px;
}  */
.popular-location .popular-location-heading h1 {
  font-weight: 600;
  text-align: left;
  padding-bottom: 20px;
}

.popular-location-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.popular-location-container .location-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  transition: background-size 10s;
  overflow: hidden;
}

.popular-location-container .location-image:hover {
  background-size: 120%;
  transition: ease-in .5s;
}

.popular-location-container .location-image h1 {
  color: var(--white);
  font-weight: 600;
}

.popular-location button {
  outline-width: 0;
  border: 1px solid var(--almostDarkBlue);
  border-radius: 8px;
  color: var(--white);
  background-color: var(--almostDarkBlue);
  padding: 10px;
  font-size: 1em;
  width: 100px;
  margin-top: 50px;
  cursor: pointer;
}

.popular-location button:hover {
  background-color: transparent;
  color: var(--black);
}

/* Location Images */
.popular-location-container .location-1 {
  background-image: url(/assets/images/Popular-Location-1.png);
}

.popular-location-container .location-1:hover {
  background-size: 120%;
}

.popular-location-container .location-2 {
  background-image: url(/assets/images/PopularLocation_2.jpg);
}

.popular-location-container .location-3 {
  background-image: url(/assets/images/PopularLocation_3.jpg);
}

.popular-location-container .location-4 {
  background-image: url(/assets/images/PopularLocation_4.jpg);
}

.popular-location-container .location-5 {
  background-image: url(/assets/images/PopularLocation_5.jpg);
}

.popular-location-container .location-6 {
  background-image: url(/assets/images/PopularLocation_6.jpg);
}

/* END OF SECTION 3 */

/* SECTION 4 */
/* ########## DISCOUNT SECTION STYLE ########## */
.discount-section {
  display: flex;
  align-items: center;
  gap: 60px;
  background-color: var(--almostWhite);
  margin-top: 80px;
}

.discount-image img {
  max-width: 100%;
  border-radius: 10px;
}

.discount-section .discount-writeup h1 {
  /* font-size: 1.8em; */
  font-weight: 600;
  padding: 20px 0;
  word-wrap: break-word;
}

.discount-section .discount-label {
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.discount-section .discount-label article {
  font-size: 1.2rem;
  word-wrap: break-word;
}

.discount-section .discount-label p {
  padding: 0 0 5px 0;
  font-size: 1.2rem;
  word-wrap: break-word;
}

.discount-label .vertical-line {
  border: 1px solid var(--black);
  background-color: var(--black);
  width: 1px;
  height: 100px;
}

/* END OF SECTION 4 */

/* SECTION 5 */
/* ########## DISCOVER STYLING SECTION ########## */
.discover-section {
  width: 100%;
  height: 600px;
  margin-top: 120px;
  justify-content: center;
  gap: 50px;
  align-items: center;
  display: flex;
  position: relative;
}

.discover-text {
  width: 600px;
  height: 600px;
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  justify-content: center;
}

.discover-text h1 {
  /* font-size: 1.5em; */
  font-weight: 600;
}

.discover-text article {
  font-size: 1.2em;
}

.discover-text button {
  outline-style: 0;
  border: 1px solid var(--almostYellow);
  color: var(--white);
  background-color: var(--almostYellow);
  max-width: 550px;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 8px;
  margin: 20px 0 0 0;
  cursor: pointer;
}

.discover-text button:hover {
  background-color: transparent;
  color: var(--almostYellow);
}

.discover-text .underline-bar {
  width: 120px;
  border: 2px solid var(--black);
  border-radius: 10px;
  margin: 20px 0;
  background-color: var(--black);
}

.discover-image {
  width: 600px;
  height: 600px;
  /* position: relative; */
}

.discover-image .image-1 {
  max-width: 600px;
  width: 600px;
  max-height: 600px;
  height: 600px;
  position: absolute;
  z-index: 1;
  top: -5%;
  right: 0;
  border-radius: 8px;
}

.discover-image .image-2 {
  max-width: 600px;
  width: 600px;
  max-height: 600px;
  height: 600px;
  /* z-index: 2;
  position: absolute;
  right: 9%;
  bottom: -5%;
  border-radius: 8px; */
}

/* END OF SECTION 5 */

/* SECTION 7 */
/* ########## NEWSLETTER SECTION STYLING ########## */
.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: var(--almostWhite);
  padding: 40px 0;
  margin: 80px 0;
}

.newsletter-text {
  text-align: center;
}

.newsletter-text h1 {
  font-weight: 600;
}

.newsletter-input {
  position: relative;
  max-width: 800px;
}

.newsletter-input input {
  padding: 15px;
  width: 100%;
  min-width: 800px;
  outline-width: 0;
  border: 0;
  color: var(--white);
  background-color: var(--almostDarkBlue);
  border-radius: 20px;
}
.newsletter-input input::placeholder {
  color: var(--almostWhite);
}
.send-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  outline-style: none;
  border: none;
  top: 0;
  right: -1%;
  transition: background-color 0.3s ease;
}

.send-icon:hover {
  background-color: var(--almostYellow);
  color: var(--white);
}

/* END OF SECTION 6 */

/* SECTION 7 */
/* ########## FOOTER STYLE ########## */
.footer-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 250px;
  justify-content: flex-start;
  padding: 0 0 50px 180px;
}

.sub-footer {
  display: flex;
  flex-direction: column;
}

.sub-footer h1 {
  font-size: 1em;
  font-weight: 700;
  padding: 10px 0;
  text-align: left;
}

.sub-footer a {
  text-decoration: none;
  font-size: 1em;
  padding-bottom: 10px;
  text-align: left;
  color: var(--black);
}

.sub-footer a:hover {
  color: var(--almostYellow);
}

.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--grey);
}

/* END OF SECTION 7 */

/* ########## MEDIA QUERIES ########## */
@media screen and (max-width: 1450px) {

  /* ########## MEDIA QUERY FOR DISCOVER-SECTION 1450px [SECTION 5] ########## */
  .discover-section {
    flex-direction: column;
    height: auto;
  }

  .discover-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .discover-text,
  .discover-image {
    width: 100%;
    height: auto;
    padding: 0 20px;
  }
    .discover-text {
      padding-left: 80px;
    }


  .discover-image .image-1,
  .discover-image .image-2 {
    position: static;
    width: 80%;
    max-width: 80%;
    height: auto;
    margin: 20px 0;
  }

  /* ########## END OF MEDIA QUERY FOR DISCOVER-SECTION 1450px ########## */
}

@media screen and (max-width: 1153px) {

  /* ########## MEDIA QUERY FOR NAV BAR 1153px [SECTION 1] ########## */
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .link_container {
    width: 100%;
    justify-content: center;
  }

  .navbar_ul {
    margin-left: 100px;
  }

  .navbar_btn {
    padding: 0;
  }

  /* ########## END OF MEDIA QUERY FOR NAV BAR 1153px ########## */

  /* ########## MEDIA QUERY FOR HERO-WRITEUP CONTAINER  1153px [SECTION 1] ########## */
  .hero-sub-section {
    padding: 20px 10px;
  }

  /* ########## END OF MEDIA QUERY FOR HERO-WRITEUP CONTAINER  1153px ########## */

  /* ########## MEDIA QUERY FOR POPULAR LOCATION SECTION 1153px [SECTION 3] ########## */
  .popular-location-container .location-image {
    /* width: 300px; */
    height: 300px;
  }

  /* ########## END OF MEDIA QUERY FOR POPULAR LOCATION SECTION 1153px [SECTION 3] ########## */
}

@media screen and (max-width: 961px) {

  /* ########## MEDIA QUERY  FOR MOBILE VIEW NAVBAR 961px  1153px [SECTION 1] ########## */
  .link_container {
    display: none;
  }

  .link_container .navbar_ul {
    flex-direction: column;
    margin: 0;
    gap: 40px;
  }

  .navbar .link_container .navbar_btn {
    flex-direction: column;
  }

  .navbar .hamburger {
    display: block;
    color: var(--white);
    padding-right: 30px;
    font-size: 30px;
  }

  .hamburger .xmark {
    display: none;
  }

  .navbar {
    padding: 20px 0;
  }

  .navbar .logo {
    width: 0;
    margin: 0;
    display: block;
    padding-left: 20px;
  }

  /* ########## END OF MEDIA QUERY  FOR MOBILE VIEW NAVBAR 961px  1153px ########## */

  /* ########## MEDIA QUERY FOR HERO WRTIE-UP CONTAINER 961px [SECTION 1] ########## */
  .hero-writeup-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-writeup-container .hero-writeup h1 {
    font-size: 3em;
  }

  .hero-writeup-container .hero-writeup {
    margin-bottom: var(--margin-of-40px);
  }

  .hero-sub-section {
    gap: 10px;
    margin-top: 80px;
    width: 100%;
  }

  .hero-sub-section-btn .top {
    padding-top: 10px;
  }

  .hero-sub-section .down {
    margin-bottom: 10px;
  }

  .hero-writeup-container .hero-sub-section {
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  /* ########## END MEDIA QUERY FOR HERO WRTIE-UP CONTAINER 961px ########## */

  /* ########## MEDIA QUERY FOR EXPLORE EXCITING ROOM DEALS 961PX [SECTION 2] ########## */
  .explore {
    flex-direction: column;
  }

  .explore-sub-section .image-container {
    margin-top: 20px;
  }

  /* ########## END OF MEDIA QUERY FOR EXPLORE EXCITING ROOM DEALS 961px ########## */

  /* ########## MEDIA QUERY FOR POPULAR LOCATION SECTION 961px [SECTION 3] ########## */
  .popular-location-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  /* .popular-location .popular-location-heading {
    width: 53%;
    padding: 20px 0;
  } */
  /* ########## END OF MEDIA QUERY FOR POPULAR LOCATION SECTION 961px ########## */

  /* ########## MEDIA QUERY FOR NEWSLETTER-SECTION 961px [SECTION 6] ########## */
  .newsletter {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .newsletter-text {
    font-size: 1.2em;
  }

  .newsletter-input {
    width: 600px;
  }

  .newsletter-input input {
    min-width: 200px;
  }

  /* ########## END OF MEDIA QUERY FOR NEWSLETTER-SECTION 961px ########## */

  /* ########## MEDIA QUERY FOR FOOTER-SECTION 961px [SECTION 7] ########## */
  .footer-section {
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 0 100px;
    gap: 140px;
  }

  .sub-footer {
    margin-bottom: 20px;
  }

  .sub-footer h1 {
    font-size: 1.2em;
  }

  .sub-footer a {
    font-size: 1em;
  }

  /* ########## END OF MEDIA QUERY FOR FOOTER-SECTION 961px ########## */
}

@media screen and (max-width: 720px) {

  /* ########## MEDIA QUERY FOR HERO-WRITEUP-CONTAINER-SECTION 720px [SECTION 1] ########## */
  .hero-writeup-container .hero-writeup h1 {
    font-size: 2em;
  }

  .hero-writeup-container .hero-writeup article {
    font-size: 1em;
  }

  /* ########## END OF MEDIA QUERY FOR HERO-WRITEUP-CONTAINER-SECTION 720px ########## */

  /* ########## MEDIA QUERY FOR POPULAR LOCATION SECTION 720px [SECTION 3] ########## */
  .popular-location-container {
    /* grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 10px;
  }

  /* .popular-location .popular-location-heading {
    width: 35%;
    padding: 20px 0;
  } */
  .popular-location-container .location-image {
    /* width: 300px; */
    height: 300px;
  }

  /* ########## END OF MEDIA QUERY FOR POPULAR LOCATION SECTION 720px ########## */

  /* ########## MEDIA QUERY FOR DISCOUNT-SECTION 720px [SECTION 4] ########## */
  .discount-section {
    flex-direction: column;
  }

  .discount-section .discount-image {
    padding: 0 20px;
  }

  .discount-writeup {
    padding: 0 20px 40px 20px;
  }

  .discount-label .vertical-line {
    width: 1px;
    height: 100px;
  }

  .discount-section .discount-label {
    flex-direction: row;
    gap: 20px;
  }

  /* ########## END OF MEDIA QUERY FOR DISCOUNT-SECTION 720px ########## */

  /* ########## MEDIA QUERY FOR DISCOVER-SECTION 720px [SECTION 4] ########## */
  .discover-text {
    padding: 30px;
    margin-top: 0;
  }

  .discover-text h1 {
    font-size: 1.2em;
  }

  .discover-image {
    margin: 0 auto;
  }

  .discover-image .image-1,
  .discover-image .image-2 {
    width: 95%;
    max-width: 95%;
  }

  .discover-text article {
    font-size: 1em;
  }

  .discover-text button {
    max-width: 100%;
    font-size: 1em;
  }

  /* ########## END OF MEDIA QUERY FOR DISCOVER-SECTION 720px ########## */

  /* ########## MEDIA QUERY FOR NEWSLETTER-SECTION 720px [SECTION 6] ########## */
  .newsletter-input {
    width: 400px;
  }

  /* ########## END OF MEDIA QUERY FOR NEWSLETTER-SECTION 720px ########## */

  /* ########## MEDIA QUERY FOR FOOTER-SECTION 720px SCREEN SIZE [SECTION 7] ########## */
  .footer-section {
    padding: 0 70px;
    flex-wrap: wrap;
    gap: 40px;
  }

  .sub-footer {
    align-items: flex-start;
  }

  .sub-footer h1 {
    font-size: 1em;
  }

  .sub-footer a {
    font-size: 0.9em;
  }

  .social a {
    font-size: 1.2em;
  }

  /* ########## END OF MEDIA QUERY FOR FOOTER-SECTION 720px ########## */
}

@media screen and (max-width: 480px) {

  /* ########## MEDIA QUERY FOR NEWSLETTER-SECTION 480px [SECTION 6] ########## */
  .newsletter-input {
    max-width: 100%;
  }

  /* ########## END OF MEDIA QUERY FOR NEWSLETTER-SECTION 480px ########## */
}

@media screen and (max-width: 325px) {

  /* ########## MEDIA QUERY FOR NAV BAR SECTION 325PX [SECTION 1] ########## */
  .navbar .hamburger {
    padding-right: 20px;
  }

  .link_container.active {
    top: 87px;
  }

  .navbar .logo {
    padding-left: 20px;
    padding-right: 0;
    display: block;
  }

  .navbar .logo img {
    width: 50px;
  }

  /* ########## END OF MEDIA QUERY FOR NAV BAR SECTION 325PX ########## */

  /* ########## MEDIA QUERY FOR EXPLORE EXCITING ROOM DEALS 325px [SECTION 2] ########## */

  .explore-sub-section button {
    padding: 10px 40px;
  }

  /* ########## END OF MEDIA QUERY FOR EXPLORE EXCITING ROOM DEALS 325px ########## */

  /* ########## MEDIA QUERY FOR POPULAR LOCATION SECTION 325px [SECTION 3] ########## */
  .popular-location button {
    width: 50%;
  }

  .popular-location-container .location-image {
    height: 150px;
  }

  /* ########## END OF MEDIA QUERY FOR POPULAR LOCATION SECTION 325px ########## */

  /* ########## MEDIA QUERY FOR DISCOUNT-SECTION 325px [SECTION 4] ########## */
  .discount-label .vertical-line {
    width: 200px;
    height: 1px;
  }

  .discount-section .discount-label {
    flex-direction: column;
    gap: 20px;
  }

  /* ########## END OF MEDIA QUERY FOR DISCOUNT-SECTION 325px ########## */
}