@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --almostYellow: #d1ac00;
  --almostDarkBlue: #004643;
  --grey: #484848;
  --almostWhite: #fbf6da;
  --almostBlack: #0c1618;
  --white: #fff;
  --black: #000;
  --zred: #949494;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  outline: none;
  border: none;
  font-family: "Poppins", sans-serif;
}
/* ########## TOP HERO SECTION BACKGROUND IMAGE ########## */
.top_dashboard {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/TopDashboard.jpg);
}

.top_dashboard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* ########## NAV BAR STYLING ########## */
.navbar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
}
.link_container {
  display: flex;
  gap: 150px;
  padding-right: 100px;
  display: flex;
}

.navbar .navbar_ul {
  display: flex;
  gap: 70px;
}

.navbar .logo {
  padding: 0px 100px;
}

.navbar_ul li,
.navbar_btn li {
  list-style: none;
}

.navbar_ul li a,
.navbar_btn li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}

.navbar_ul li:nth-child(1) a {
  color: var(--almostYellow);
  border-bottom: 3px solid var(--almostYellow);
  padding-bottom: 8px;
}

.navbar_ul .linked_list:hover > a {
  color: var(--almostYellow);
  border-bottom: 3px solid var(--almostYellow);
  transition: color 0.5s, border-bottom 0.5s, padding-bottom 0.5s;
  padding-bottom: 8px;
}

.navbar_btn {
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}

.navbar_btn .signin_btn a {
  padding: 8px 25px;
  border: 2px solid var(--almostDarkBlue);
  border-radius: 8px;
}

.navbar_btn .register_btn a {
  padding: 8px 25px;
  background-color: var(--almostDarkBlue);
  border-radius: 8px;
}

.navbar .hamburger {
  display: none;
  color: var(--white);
}
/* ########## ACTIVATING HAMBURGER MENU ########## */
.link_container.active {
  display: flex;
  background-color: var(--almostBlack);
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  padding: 0 0 40px 40px;
  top: 106px;
  right: 0;
  gap: 40px;
  z-index: 99;
}

.navbar.display {
  background-color: var(--almostBlack);
  border-bottom: 1px solid var(--almostWhite);
}

/* ########## HERO WRITEUP CONTAINER STYLE SECTION ########## */
.hero-writeup-container {
  width: 100%;
  position: relative;
  padding-left: 100px;
  padding-top: 150px;
  background-color: #d1ac00;
  /* margin-top: 200px; */
  z-index: 100;
}
.hero-writeup-container .hero-writeup h1 {
  font-size: 3.5em;
  line-height: 1;
  font-weight: 600;
  color: var(--almostWhite);
}
.hero-writeup-container .hero-writeup article {
  font-size: 1.2em;
  font-weight: 400;
  padding: 10px 0;
  color: var(--white);
}
.hero-sub-section {
  width: calc(100% - 100px);
  background-color: var(--almostDarkBlue);
  display: grid;
  /* position: inherit; */
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 150px;
  opacity: 0.7;
  margin-top: 50px;
}
.hero-sub-section .hero-sub-section-btn {
  width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: 400;
  font-size: 0.8em;
  color: var(--white);
}
.hero-sub-section-btn .fa-regular {
  font-size: 1em;
}
.hero-sub-section input {
  padding: 10px;
  width: 146px;
  outline-width: 0;
  border-radius: 8px;
  border-width: 0;
}
.hero-sub-section .top {
  padding-bottom: 8px;
}
.hero-sub-section .down button {
  padding: 10px;
  width: 250px;
  outline-width: 0;
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
}
.hero-sub-section .down .searchbar {
  background-color: var(--almostYellow);
  color: var(--white);
}
.hero-sub-section .down button .fa-solid,
.hero-sub-section .down button .fa-regular {
  padding-left: 20px;
  cursor: pointer;
}
/* ########## MEDIA QUERIES ########## */
@media screen and (max-width: 1153px) {
  /* ########## MEDIA QUERY FOR NAV BAR ########## */
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .link_container {
    width: 100%;
    justify-content: center;
  }
  .navbar_ul {
    margin-left: 100px;
  }
  .navbar_btn {
    padding: 0;
  }
  /* ########## HERO-WRITEUP CONTAINER STYLING  ########## */
  .hero-sub-section {
    padding: 20px 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 961px) {
  /* ########## MOBILE VIEW NAVBAR STYLING ########## */
  .link_container {
    display: none;
  }
  .link_container .navbar_ul {
    flex-direction: column;
    margin: 0;
    gap: 40px;
  }
  .navbar .link_container .navbar_btn {
    flex-direction: column;
  }
  /* ########## END OF MOBILE VIEW NAVBAR ########## */
  .navbar .hamburger {
    display: block;
    color: var(--white);
    padding-right: 30px;
    font-size: 30px;
  }
  .hamburger .xmark {
    display: none;
  }
  .navbar {
    padding: 20px 0;
  }
  .navbar .logo {
    width: 0;
    margin: 0;
    display: block;
    padding-left: 20px;
  }
  /* ########## THE HERO WRTIE-UP CONTAINER STYLING ########## */
  .hero-writeup-container {
    padding-left: 20px;
  }
  .hero-writeup-container .hero-sub-section {
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}
@media screen and (max-width: 325px) {
  .navbar .hamburger {
    padding-right: 20px;
  }
  .link_container.active {
    top: 88px;
  }
  .navbar .logo {
    padding-left: 20px;
    padding-right: 0;
    display: block;
  }
  .navbar .logo img {
    width: 50px;
  }
  /* ########## END OF MEDIA QUERY FOR NAVBAR STYLING ########## */
}
